@function pxtoVh($args) {
	@return $args/1920 * 100 + vw;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fbfcfd;
	background-image: url("../pc/bg.png");
	width: 100vw;
	height: 100vh;
	background-size: 100% 82.3%;
	background-repeat: no-repeat;
	background-position: left bottom;
	overflow: hidden;
}
.row-one > div {
	display: flex;
	align-items: center;
	margin: pxtoVh(97) 0px pxtoVh(43) pxtoVh(157);
}
.logo {
	width: pxtoVh(250);
	height: pxtoVh(100);
}
.line {
	display: inline-block;
	height: pxtoVh(53);
	width: 1px;
	background-color: #bcbfcd;
	margin: 0 40px;
}
.read-one {
	width: pxtoVh(393);
	height: pxtoVh(33);
}
.row-two {
	padding: pxtoVh(94) 0 0 pxtoVh(170);
	position: relative;
}
.read-two {
	height: pxtoVh(308);
	width: pxtoVh(500);
	display: block;
}
.button-go {
	width: pxtoVh(270);
	height: pxtoVh(66);
	margin-top: pxtoVh(100);
}
.big-img {
	width: pxtoVh(862);
	height: pxtoVh(732);
	position: absolute;
	top: -4vw;
	right: pxtoVh(135);
}
