@function pxtoRem($args) {
	@return $args/100 + rem;
}

body {
	padding: 0;
	margin: 0;
	background-color: #f6f9ff;
	width: 100vw;
	height: 100vh;
	&::-webkit-scrollbar {
		display: none;
	}
	scrollbar-width: none;
}

.div-one {
	overflow: hidden;
}

.shape-one {
	width: pxtoRem(70);
	height: pxtoRem(35);
	float: right;
	margin-right: pxtoRem(21);
}

.logo {
	display: block;
	width: pxtoRem(109);
	height: pxtoRem(32);
	margin-left: pxtoRem(31);
	margin-bottom: pxtoRem(15);
}

.text-one {
	width: pxtoRem(173);
	display: block;
	height: pxtoRem(13);
	margin-left: pxtoRem(31);
	margin-bottom: pxtoRem(56);
}

.div-two {
	display: flex;
	position: relative;
	flex: 1;
	width: 100%;
	height: calc(100vh - 1.5rem);
	align-items: center;
	flex-direction: column;
}
.shape-two {
	position: absolute;
	width: pxtoRem(101);
	height: pxtoRem(128);
	top: pxtoRem(26);
	left: 0;
}
.bg {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: pxtoRem(432);
}
.text-two {
	width: pxtoRem(220);
	height: pxtoRem(135);
	z-index: 5;
}
.big-img {
	width: pxtoRem(303);
	height: pxtoRem(257);
	margin-top: pxtoRem(37);
	z-index: 6;
}
